.welcome {
    text-align: left;
    width: 52%;
    margin-top: 9%;
    margin-left: 3%;
}


.welcome h1 {
    color: white;
    letter-spacing: 5px;
    font-size: 50px;
    text-align: center;
}

.welcome p {
    color: white;
    font-size: 20px;
    text-align: center;
}

