<section id="registerPage">
    <h1>Register</h1>
    <form id='registerForm' #registerForm="ngForm" (ngSubmit)="userService.registerHandler(registerForm)">
        <label for="email">Email:</label>
        <div class="input-with-icon">
            <mat-icon>email</mat-icon>
            <input type="text" id="email" name="email" placeholder="Email" ngModel required minlength="5">
        </div>

        <label for="username">Username:</label>
        <div class="input-with-icon">
            <mat-icon>person</mat-icon>
            <input type="text" id="username" name="username" placeholder="Enter your Username" ngModel required min="2">
        </div>

        <label for="password">Password:</label>
        <div class="input-with-icon">
            <mat-icon>password</mat-icon>
            <input type="password" id="password" name="password" placeholder="Password" ngModel required min="3">
        </div>

        <label for="rePassword">Repeat Password:</label>
        <div class="input-with-icon">
            <mat-icon>password</mat-icon>
            <input type="password" id="rePassword" name="repassword" placeholder="Repeat Password" ngModel required
                minlength="3" [appCheck]="registerForm.value.password">
        </div>

        <input type="submit" class="register" value="Register">
    </form>
</section>