<section>
    <section id="user">
        <div class="user-info">
            <div class="user-logo">
                <img class="edit-profile" src="{{user?.profileImg}}">
            </div>
            <p>Edit picture</p>
            <h1 class="user-email">{{user?.username}}</h1>
            <h4>({{user?.email}})</h4>
            <h2 class="offer-count">Total Created Offers: {{user?.createdOffers?.length}}</h2>
            <h2 class="buy-count">Total Bought Products: {{user?.boughtList?.length}}</h2>
        </div>
    </section>
    <section class="profile-offer">
        <div class="created-offer">
            <h2 class="section-model">Created Offers</h2>
            <ng-container *ngIf="user?.createdOffers?.length != 0">
                <div class="info" *ngFor="let phone of user?.createdOffers">
                    <h2 class="model">{{phone.name}}</h2>
                    <h4 class="type">Type: {{phone.type}}</h4>
                    <img src="{{phone.image}}"
                        class="picture">
                    <div class="more-details">
                        <a routerLink="/details/{{phone._id}}">View Product...</a>
                    </div>
                </div>
            </ng-container>
            <h2 class="no-offer-in-profile" *ngIf="user?.createdOffers?.length == 0">You haven't created a offer yet...
            </h2>
        </div>

        <div class="buy-offer">
            <h2 class="section-model">Bought Offers</h2>

            <ng-container *ngIf="user?.boughtList?.length != 0 ">

                <div class="info" *ngFor="let phone of user?.boughtList">
                    <h2 class="model">{{phone.name}}</h2>
                    <h4 class="type">Type: {{phone.type}}</h4>
                    <h4 class="certificate">Bought Price: {{phone.price}}$</h4>
                    <img src="{{phone.image}}" class="picture">
                    <div class="more-details">
                        <a routerLink="/details/{{phone._id}}">View Product...</a>
                    </div>
                </div>
            </ng-container>

            <h2 *ngIf="user?.boughtList?.length == 0" class="no-offer-in-profile">You haven't bought any product yet...
            </h2>

        </div>

    </section>
</section>