<section>
    <h2>Your Shopping Cart</h2>
    <ng-container *ngIf="user?.shoppingCart?.length != 0">
        <div class="cart">
            <ul class="cart-list">
                <li class="cart-item" *ngFor="let phone of user?.shoppingCart">
                    <img routerLink="/details/{{phone._id}}" src="{{phone.image}}" alt="{{phone._id}}">
                    <div class="item-details">
                        <h3>{{phone.name}}</h3>
                        <p>${{phone.price}}</p>
                        <button (click)="phoneService.removeFromCart(phone._id)" class="remove-button">Remove</button>
                    </div>
                </li>
            </ul>
            <div class="cart-total">
                <h3>Total: ${{totalPrice$$ | async}}</h3>
            </div>
        </div>
    </ng-container>
    <div *ngIf="user?.shoppingCart?.length == 0" class="cart">
        <h1>It looks like you have no products added yet</h1>
    </div>
</section>