section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.551);
    color: white;
}

.cart {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.551);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.cart h2 {
    text-align: center;
    color: white;
}

.cart-list {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
}

.item-details h3 {
    margin: 0;
    color: white;
}

.item-details p {
    margin: 5px 0;
    color: white;
}

.remove-button {
    background-color: #ff5f5f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #e74c3c;
    transform: scale(1.1);
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.cart-total h3 {
    margin: 0;
    color: white;
}