<section id="editPage">
    <h1>Edit offer</h1>
    <form id='edit' #editForm="ngForm" (ngSubmit)="phoneService.editPhone(editForm,phoneId)">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name..." ngModel="{{this.phoneInfo?.name}}" required
            minlength="2">
        <label for="type">Type:</label>
        <br>
        <select name="type" id="type" required ngModel="{{this.phoneInfo?.type}}">
            <option disabled value="">Select type...</option>
            <option>Used</option>
            <option>New</option>
        </select>
        <br>
        <label for="production">Year of Production:</label>
        <input type="number" id="production" name="year" placeholder="Year of Production..."
            ngModel="{{this.phoneInfo?.year}}" required min="1900" max="2025">

        <label for="damages">Damages:</label>
        <input type="text" id="damages" name="damages" placeholder="Damages..." ngModel="{{this.phoneInfo?.damages}}"
            required minlength="2">

        <label for="image">Image:</label>
        <input type="text" id="image" name="image" placeholder="Image..." ngModel="{{this.phoneInfo?.image}}" required>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" placeholder="Price..." ngModel="{{this.phoneInfo?.price}}" required
            min="0">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Description..."
            ngModel="{{this.phoneInfo?.description}}" required minlength="7">

        <input type="submit" class="edit" value="Edit Offer">
    </form>


    <div *ngIf="phoneService.data" class="error">{{phoneService.data.message}}</div>

</section>