ul {
    padding-inline-start: 0;
}

input[type=submit]:hover,
ul>img:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.home {
    position: relative;
    width: 43px;
    height: 40px;
}

.profile {
    position: relative;
    right: 75px;
}
.add {
    width: 43px;
    height: 40px;
}

.logout {
    width: 90px;
    height: 90px;
    position: relative;
    right: 36.7px;
    top: 24px;

}

.search {
    position: relative;
    bottom: 6px;
}

.catalog {
    position: relative;
    width: 50px;
    height: 43px;

}

.login {
    position: relative;
    width: 80px;
    height: 60px;
    bottom: -11px;
    left: -15px;
}

.register {
    position: relative;
    width: 80px;
    height: 70px;
    bottom: -15px;
    left: -70px;
}


img:hover {
    cursor: pointer;
}

img {
    padding: 5px;
    margin: 10px;
    width: 35px;

}


nav {
    background: rgb(112, 169, 207);
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

nav>ul {
    text-align: center;
    margin: -20px;
    color: white;
}