<section id="detailsPage">
    <div id="info">
        <h1>Name: Iphone 11 Pro Max</h1>
        <div class="product-info"><img src="./image/laptop.webp"></div>

        <div class="pruduct-info">
            <h3>Type: Used</h3>
            <h3>Year of Production: 2008</h3>
            <h3>Years of Exploitation: 12</h3>
            <h3>Damages: The product has minimal signs of use.</h3>
            <h3>Description: The newest iphone</h3>
            <h2>Price: $153</h2>
        </div>


        <div class="buttons">

            <a href="#" class="buy-btn">Buy</a>


            <a href="#" class="edit-btn">Edit</a>
            <a href="#" class="delete-btn">Delete</a>

            <p><span class="buy">Phone is purchased by ...</span></p>
        </div>
    </div>
</section>