<section id="detailsPage">
    <div id="info">
        <h1>Model: {{phone?.name}}</h1>
        <div class="product-info"><img src="{{phone?.image}}"></div>

        <div class="pruduct-info">
            <h3>Type: {{phone?.type}}</h3>
            <h3>Year of Production: {{phone?.year}}</h3>
            <h3>Damages: {{phone?.damages}}</h3>
            <h3>Description: {{phone?.description}}</h3>
            <h2>Price: ${{phone?.price}}</h2>
        </div>


        <div class="buttons">
            <ng-container *ngIf="currentUser">
                <ng-container *ngIf="isOwner" class="buttons">
                    <a class="edit-btn" routerLink="/edit/{{phone?._id}}">Edit</a>
                    <a class="delete-btn">Delete</a>
                </ng-container>

                <ng-container *ngIf="!isOwner">
                    <a class="buy-btn" *ngIf="!phone?.boughtFrom"
                        (click)="phoneService.buyPhone(currentUser,phone?._id)">Buy</a>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="!isOwner">
                <p *ngIf="phone?.boughtFrom"><span class="buy">Phone is purchased by {{phone?.boughtFrom?.email}}</span>
                </p>
            </ng-container>
        </div>
    </div>
</section>