<section class="search">
    <h1>Search offers</h1>

    <form class="searchForm" #searchForm="ngForm" (ngSubmit)="phoneService.searchPhones(searchForm)">
        <input type="text" class="search-name" name="name" placeholder="Search Name..." ngModel>
        <select name="type" class="searc-type" id="type" ngModel required>
            <option disabled value="">Select type...</option>
            <option>Used</option>
            <option>New</option>
        </select> <br>
        <br>
        <button type="submit" class="btn-search">Search</button>
    </form>


    <div>
        <div class="search-list" *ngIf="phones">
            <a routerLink="/details/{{phone._id}}" class="electronics" *ngFor="let phone of phones">
                <img src="{{phone.image}}" class="picture">
                <h3>{{phone.name}}</h3>
                <span>Price: ${{phone.price}}</span>
            </a>

        </div>

    </div>

    <div *ngIf="!phones" class="no-match">
        <p>No match was found!</p>
    </div>

    <div *ngIf="phoneService.data" class="error">{{phoneService.data.message}}</div>

</section>