<section class="search">
    <h1>Search offers</h1>

    <form class="searchForm" action="#" method="">
        <input type="text" class="search-name" name="" placeholder="Search Name...">
        <select name="type" class="searc-type" id="type" required ngModel>
            <option disabled value="">Select type...</option>
            <option>Used</option>
            <option>New</option>
        </select> <br> <br>
        <button type="submit" class="btn-search">Search</button>
    </form>


    <div >
        <div class="search-list">    
            <a href="#" class="electronics">
                <img src="./image/tablet.webp" class="picture">
                <h3>Tablet Apple iPad Air 16GB</h3>
                <span>Price: $92</span>
            </a>
        </div>

    </div>
   
    <div class="no-match">
        <p>No match was found!</p>
    </div> 
</section>
